body {
  background-color: #17B491;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  display: inline
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

p {

}